.body{
  background-image: url('./assets/bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right; 
  height: 100vh;
  width: 100vw;
}
.container{
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:transparent;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: xx-large;
}

li a:hover {
  background-color: #111;
}
.container{
  max-width:1024px;
}
.navbar-brand{
  float: left;
}
#paragraph {
  width:600px;
  padding-top:20%;
  float:left;
  font-size:large;
}


.calculator{
height:100vh;
background-color:grey ;
}

.functionality{
height:100vh;
}

.numberpad{
height:100vh;
background-color:tomato ;
}
.margin{
margin-bottom:20px;
}
.numbtn{
height:30vh;
}
.functionality #display{
height:50vh;
background-color:white ;
}
.functionality .symbols{
height:50vh;
background-color: tomato;
}
.sybtn{
height:20vh;
}